header h1{
	font-family: 'IBM Plex Sans', sans-serif;
	text-align:center;
	margin-top:100px;
	padding-top:60px;

}
header p{
	font-family: 'IBM Plex Sans', sans-serif;
	text-align:center;
	padding-left:50px;
	padding-right:50px;
	margin-bottom:70px;
}

.square{
	width:350px;
	height:350px;
	object-fit:cover;
	max-width: 100%;
}

img{
	margin: 10px;
}

.container{
	margin: auto;
	width: 50%;
}