nav.navbar-light{
	background-color:white;
	font-family: 'IBM Plex Sans', sans-serif;
}

.dropdown-menu{
	display:flex;
    flex-wrap:wrap;
    width:100px;
}

footer{
	font-size: 15px;
	text-align: center;
	margin-top:80px;
	margin-left:0px;
	margin-right:0px;
	padding-top: 50px;
	padding-bottom:30px;
	margin-bottom:0px;
	background-color:gray;
	color:white;
	font-family: 'IBM Plex Sans', sans-serif;
}

footer p{
	padding-left:30px;
	padding-right:30px;
}

figcaption{
	font-family: 'IBM Plex Sans', sans-serif;
	text-align:center;
	padding-top:5px;
	font-size:14px;
}

figcaption.homepic{
	font-family: 'IBM Plex Sans', sans-serif;
	text-align:right;
	padding-top:-5px;
	margin-top:-10px;
	font-size:12px;
}
